@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Google Sans';
  src: url('./assets/GoogleSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Google Sans', sans-serif;
}